 
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <div th:replace="/common/link"></div>
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/layuires/layui/lay/g3.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav-user">
      
      			<!-- 未登入的状态 -->
				<span id="beforelogin">
					<li class="layui-nav-item"><a
						class="iconfont icon-touxiang layui-hide-xs"
						href="user/login.html"></a></li>
					<li class="layui-nav-item"><a href="user/login">登入</a></li>
					<li class="layui-nav-item"><a href="user/reg">注册</a></li>
					<li class="layui-nav-item layui-hide-xs"><a href="/app/qq/"
						onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
						title="QQ登入" class="iconfont icon-qq"></a></li>
					<li class="layui-nav-item layui-hide-xs"><a href="/app/weibo/"
						onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})"
						title="微博登入" class="iconfont icon-weibo"></a></li>
				</span>
				<!-- 登入后的状态 -->

				<li style="display: none" id="afterlogin" class="layui-nav-item">
					<a class="fly-nav-avatar" href="javascript:;"> <cite
						class="layui-hide-xs">贤心</cite> <i
						class="iconfont icon-renzheng layui-hide-xs"></i> <img
						src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a>
						</dd>
						<dd>
							<a href="/user/message"><i class="iconfont icon-tongzhi"
								style="top: 4px;"></i>我的消息</a>
						</dd>
						<dd>
							<a href="/user/home"><i class="layui-icon"
								style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
						</dd>
						<hr style="margin: 5px 0;">
						<dd>
							<a href="/user/logout" style="text-align: center;">退出</a>
						</dd>
					</dl>
				</li>
    </ul>
  </div>
</div>

<div class="layui-hide-xs">
  <div class="fly-panel fly-column">
    <div class="layui-container">
      <ul class="layui-clear">
        <li class="layui-hide-xs"><a href="/">首页</a></li> 
        <li class="layui-this"><a href="">提问</a></li> 
        <li><a href="">分享<span class="layui-badge-dot"></span></a></li> 
        <li><a href="">讨论</a></li> 
        <li><a href="">建议</a></li> 
        <li><a href="">公告</a></li> 
        <li><a href="">动态</a></li> 
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
        
        <span th:if="${user != null}">
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a th:href="@{/user/index(userId=${article.userId})}">我发表的贴</a></li> 
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a th:href="@{/user/index(userId=${article.userId})} + '#collection'">我收藏的贴</a></li> 
        </span>
      </ul> 
      
      <div class="fly-column-right layui-hide-xs"> 
        <span class="fly-search"><i class="layui-icon"></i></span> 
        <a href="add.html" class="layui-btn">发表新帖</a> 
      </div> 
      <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
        <a href="add.html" class="layui-btn">发表新帖</a> 
      </div> 
    </div>
  </div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${article.title}"></h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          <span th:text="${article.columnName}" class="layui-badge layui-bg-green fly-detail-column"></span>
          
          <!-- <span class="layui-badge" style="background-color: #999;">未结</span> -->
          <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->
          <span th:if="${article.toped} == true">
          <span class="layui-badge layui-bg-black">置顶</span>
          </span>
          <span th:if="${article.elited} == true">
          <span class="layui-badge layui-bg-red">精帖</span>
          </span>
          <div class="fly-admin-box" data-id="123">
          	<span th:if="${article.userId == user.userId}">
            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
            </span>
<!--             <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> 
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>
            
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> 
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> <span th:text="${article.commentsNum}"/></a>
            <i class="iconfont" title="人气">&#xe60b;</i>[[${article.viewed}]]
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" th:href="@{/user/home(userId=${article.userId})}">
            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
          </a>
          <div class="fly-detail-user">
            <a th:href="@{/user/home(userId=${article.userId})}" class="fly-link">
              <cite th:text="${article.name}"></cite>
            </a>
            创建时间:
            <span th:text="${#calendars.format(article.createdTime,'yyyy-MM-dd hh:mm:ss')}"></span>
             编辑时间:
            <span th:text="${#calendars.format(article.updatedTime,'yyyy-MM-dd hh:mm:ss')}"></span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span th:text="'悬赏'+${article.wanted}+'飞吻'" style="padding-right: 10px; color: #FF7200"></span>  
            <span th:if="${article.userId == user.userId}"><span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span></span>
          </div>
        </div>
        <div class="detail-body photos">
          <p>
         	<span th:text="${article.content}"></span>
          </p>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda" th:each="comment:${comments}">
          <li data-id="111" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite th:text="${comment.name}"></cite>
                </a>
                <span th:if="${article.userId == comment.userId}">
                <span>(楼主)</span>
                </span>
               <!--  <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span> -->
               
              </div>

              <div class="detail-hits">
                <span  th:text="${#calendars.format(comment.createdTime,'yyyy-MM-dd hh:mm:ss')}"></span>
              </div>
			  <span th:if="${comment.selected == true}">
              <i class="iconfont icon-caina" title="最佳答案"></i>
              </span>
            </div>
            <div class="detail-body jieda-body photos">
              <p th:text="${comment.content}"></p>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em  th:text="${comment.agreed}"></em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              <div class="jieda-admin">
              	<span th:if="${comment.userId == user.userId}">
                <span type="edit"><a th:href="@{/comment/edit(commentId=${comment.commentId})}">编辑</a></span>
                <span type="del"><a th:href="@{/comment/delete/(commentId=${comment.commentId}, articleId=${article.articleId})}">删除</a></span>
                </span>
                <span th:if="${user.userId == article.userId}">
                <span class="jieda-accept" type="accept">采纳</span>
                </span>
              </div>
            </div>
          </li>
        </ul>
        
        <span th:if="${comments.size() == 0}">
         <ul class="jieda" id="jieda" >
        <li class="fly-none">消灭零回复</li>
        </ul>
        </span>
        <div class="layui-form layui-form-pane">
          <form th:action="@{/comment/reply(articleId=${article.articleId})}" method="post">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" name="jid" value="123">
              <button class="layui-btn" onclick="loginCheck()" lay-filter="*" lay-submit>提交回复</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <!-- <span> 
        <div class="fly-none">没有相关数据</div>
        </span> -->
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="/layuires/layui/res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<script>

layui.config({
  version: "3.0.0"
  ,base: '/layuires/layui/res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
});

$(checkLogin());


function loginCheck() {
	var _ticket = $.cookie("MY_TICKET");
	if (!_ticket) {
		alert("请先登录");
		return;
	}
}

function checkLogin() {
		var _ticket = $.cookie("MY_TICKET");
		if (!_ticket) {
			return;
		}
		//当dataType类型为jsonp时，jQuery就会自动在请求链接上增加一个callback的参数
		$.ajax({
			url : "http://www.myblog.com/user/loginquery/" + _ticket,
			dataType : "jsonp",
			type : "GET",
			success : function(data) {
				if (data.status == 200) {
					var _data = JSON.parse(data.data);
					console.log(_data.name);
					$("#afterlogin").find("cite").html(_data.name);
					$("#afterlogin").show();
					$("#afterpost").show();
					$("#beforelogin").hide();
				}
			}
		});
	}
</script>

</body>
</html>