
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <div th:replace="/common/link"></div>
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
     <img src="/layuires/layui/lay/g3.png"
				alt="MyBlog">
    </a>
   
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="/user/reg">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux emailMsg"></div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux pwdMsg"></div>
              </div>
<!--               <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <span style="color: #c00;">{{d.vercode}}</span>
                </div>
              </div> -->
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit onclick="doSubmit()">立即登录</button>
                <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">MyBlog社区</a> 2020 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
  </p>
</div>

<script>
	layui.config({
	  version: "3.0.0"
	  ,base: '/layuires/layui/res/mods/'
	}).extend({
	  fly: 'index'
	}).use('fly');
	
	function doSubmit() {
		if($("#L_email").val()=="" || $("#L_pass").val() == "") {
			return;
		}
		var param = {"email":$("#L_email").val(), "pass":$("#L_pass").val()};
		$.post("/user/doLogin", param, function(result) {
			if(result.status != 200) {
				alert(result.msg);
			} else {
				alert("登陆成功");
				window.location.href="http://www.myblog.com";
			}
		})
	}
</script>

</body>
</html>